<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic oauth 2 discord</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <h1>
    Hi <%= username %>
   </h1>
  </body>
</html>
